{% extends "users/FootHeader.html" %}
{% block content %}
    {% load static %}
<link rel="stylesheet" href="{% static "css/auth/auth.css" %}">
  <input type="checkbox"  class="lox" id="openSidebarMenu">
  <label for="openSidebarMenu" class="sidebarIconToggle">
    <div class="spinner diagonal part-1"></div>
    <div class="spinner horizontal"></div>
    <div class="spinner diagonal part-2"></div>
  </label>
    {% if user.is_authenticated %}
  <div id="sidebarMenu">
    <ul class="sidebarMenuInner">
        <li>Hi {{ user.first_name }}</li>
      <li><a href="{% url 'edit_profile' user.id%}">Profile</a></li>
      <li><a href="{% url 'logout'%}" >Logout</a></li>
      <li><a href="{% url 'cart'%}" >My cart</a></li>
    </ul>
  </div>
     {%  endif %}



	<div class="dummy_page">

    <div class = "container1">
    {% for book in books %}
<div class="card mb-3" style="max-width: 650px; margin-left: 500px;">
  <div class="row g-0">
    <div class="col-md-4">
      {% if book.book_image %}
        <img src="{{ book.book_image.url }}" class="img-fluid rounded-start" alt="..." style="height: 290px; width: 310px"/>
      {% endif %}
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ book.book_name }}</h5>
        <p class="card-text">{{ book.desc }}</p>
        <p class="card-text">{{ book.book_author }}</p>
        <p class="card-text">{{ book.genre }}</p>
        <p class="card-text">{{ book.price }}</p>

          {% if request.user.is_authenticated and user.is_admin%}
		<p>
			<a href="{% url 'book_edit' book.id %}" class="btn btn-warning">Edit</a>
            <a href="{% url 'book_delete' book.id%}" class="btn btn-danger">Delete</a>
            </p>
        {% endif %}
        {% if request.user.is_authenticated and not user.is_admin%}
		    <p>
			<button class="btn btn-warning cart-buy" value="{{ book.id }}">Add to cart</button>
            <a class="btn btn-success" href="{% url 'add_feedback' book.id%}">Add feedback</a>
            <a class="btn btn-success" href="{% url 'feedbacks' book.id%}">feedback</a>
            <div class="addwishlist">
            <!--<button class="btn btn-success" value="{{ book.id }}">Add to wishlist</button>-->
            </div>
            </p>

         {% endif %}

      </div>
    </div>
  </div>
</div>
    {% endfor %}
<br></br>
<nav aria-label="Page navigation example">
  <ul class="pagination">
    {% if  books_page.has_previous%}
        <li class="page-item"><a class="page-link"  href="?page=1">&laquo First</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ books_page.previous_page_number }}">Previous</a></li>
    {% endif %}
<hr>
<!--<li class="page-item disabled"><a href="" class="page-link">Page {{ books_page.number }} or {{ books_page.paginator.num_pages }}</a></li>-->

{% for i in  nums  %}
<li class="page-item">
    <a class="page-link" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a>
</li>

{% endfor %}

{% if books_page.has_next %}
    <li class="page-item"><a class="page-link" href="?page={{ books_page.next_page_number }}">Next</a></li>
    <li class="page-item"><a class="page-link" href="?page={{ books_page.paginator.num_pages}}">Last &raquo</a></li>
{% endif %}
  </ul>
</nav>

<section>
<div class="filter">
    <section>
<form id="priceForm" method="POST" action="{% url 'price_checkers' %}">
  {% csrf_token %}
<div class="filter__block filter__block--slider">

    <div class="filter__slider">
        <div id="filter__range"></div>
    </div>
    <div class="filter__cost table">

        <div class="table-cell down">
            <h4 class="price">Цена</h4>
            <input name="priceMin" type="text" onkeypress='validate(event)' value="0" class="form-control">
        </div>

        <div class="table-cell">
            <input name="priceMax" type="text" onkeypress='validate(event)' value="0" class="form-control shift">
        </div>
    </div>
<button class="btn btn-outline-secondary size1" onclick="submitForm()">Подтвердить</button>
</div>
</form>
</section>

 <div>
   <form method="POST" action="{% url 'checkers' %}">
  {% csrf_token %}
<div class="ch_genres">

<div class="form-check">
    <input name="searched" type="checkbox" value="Adventure" id="flexCheckChecked">
    <label class="form-check-label" for="flexCheckChecked">
        Adventure
    </label>
</div>


<div class="form-check love_left">
    <input name="searched" type="checkbox" value="Love" id="flexCheckChecked">
    <label class="form-check-label" for="flexCheckChecked">
        Love
    </label>

</div>



<div class="form-check fan_left">
    <input name="searched" type="checkbox" value="Fantasy" id="flexCheckChecked">
    <label class="form-check-label" for="flexCheckChecked">
        Fantasy
    </label>

</div>

<div class="form-check hist_left">
    <input name="searched" type="checkbox" value="Historic" id="flexCheckChecked">
    <label class="form-check-label" for="flexCheckChecked">
        Historic
    </label>

<div class="form-check det_left">
    <input name="searched" type="checkbox" value="Detective" id="flexCheckChecked">
    <label class="form-check-label" for="flexCheckChecked">
        Detective
    </label>

</div>

</div>
       </br>
       <div>
    <button class="btn btn-outline-secondary size1" type="submit">Search</button>;

       </div>

  </div>
</form>
<br/>
    </div>


</div>
   <script src="{% static 'js/auth/auth.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{% static 'js/list_menu.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/PriceScroll.js' %}"></script>
{% endblock %}