<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load bootstrap5 %}
   {% bootstrap_css %}
   {% bootstrap_javascript %}
</head>

<body>
<section>
    <form class="d-flex" method="POST" action="{% url 'book_search' %}">
      {% csrf_token %}
        <input class="form-control me-2" type="search" placeholder="Search Books" aria-label="Search" name="searched">
        <button class="btn btn-outline-secondary" type="submit">Search</button>
    </form>
</section>
<header>


  		{%if request.user.is_authenticated %}
  			<span>Hi {{ request.user.first_name | title }}</span>
  			<a href="{% url 'logout' %}">Logout</a>
  		{%else%}
  			<a href="{% url 'login' %}">Login</a>
  		{%endif%}
	<center>
    {% if searched %}
        {% for book in book_names %}
           <h2>{{ book.book_name }}</h2>
		<small>{{ book.book_author}}</small>
		<p>{{ book.desc }}</p>
        <p>{{ book.genre }}</p>

        {% if book.book_image %}

        <img src="{{ book.book_image.url }}" alt="connect" style="height:100px">

        {% endif %}
        {% endfor %}
    {% elif not searched  %}
        <h1>Nothing found</h1>
    {% endif %}

</center>
</header>


</body>
</html>

