{% extends "users/FootHeader.html" %}
{% block content %}
    {% load static %}

<style>
.card-title{margin-left:-150px;}
.card-text{margin-left:-150px;}
.cart-buy{
    width:225px;
    margin-left:-125px;
}
</style>

	<div class="dummy_page">
    <div class = "container1">
    {% for book in books %}
<div class="card mb-3" style="max-width: 650px; margin-left: 500px;">
  <div class="row g-0">
    <div class="col-md-4">
      {% if book.book_image %}
        <img src="{{ book.book_image.url }}" class="img-fluid rounded-start" alt="..." style="height: 290px; width: 310px"/>
      {% endif %}
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ book.book_name }}</h5>
        <p class="card-text">{{ book.desc }}</p>
        <p class="card-text">{{ book.book_author }}</p>
        <p class="card-text">{{ book.genre }}</p>
        <p class="card-text">{{ book.price }}</p>

          {% if request.user.is_authenticated and user.is_admin%}
		<p>
			<a href="{% url 'book_edit' book.id %}" class="btn btn-warning">Edit</a>
            <a href="{% url 'book_delete' book.id%}" class="btn btn-danger">Delete</a>
            </p>
        {% endif %}
        {% if request.user.is_authenticated and not user.is_admin%}
		    <p>
			<button class="btn btn-warning cart-buy" value="{{ book.id }}">Add to cart</button>
            <!--<a class="btn btn-success" href="{% url 'add_feedback' book.id%}">Add feedback</a>-->
            <!--<a class="btn btn-success" href="{% url 'feedbacks' book.id%}">feedback</a>-->
            <div class="addwishlist">
            <!--<button class="btn btn-success" value="{{ book.id }}">Add to wishlist</button>-->
            </div>
            </p>

         {% endif %}

      </div>
    </div>
  </div>
</div>
{% endfor %}




<section>
   <form method="POST" action="{% url 'checkers' %}">
  {% csrf_token %}
  <div class="form-check">
    <input class="form-check-input" name="searched" type="checkbox" value="Adventure" id="flexCheckChecked">
    <label class="form-check-label" for="flexCheckChecked">
      Adventure
    </label>
    <button class="btn btn-outline-secondary size1" type="submit">Search</button>;
  </div>
</form>
</section>
    <section>
<form id="priceForm" method="POST" action="{% url 'price_checkers' %}">
  {% csrf_token %}
<div class="filter__block filter__block--slider">
    <div class="filter__head">цена изделия</div>
    <div class="filter__slider">
        <div class="range__zero">0</div>
        <div id="filter__range"></div>
    </div>
    <div class="filter__cost table">
        <div class="table-cell"> <span>от</span></div>
        <div class="table-cell">
            <input name="priceMin" type="text" value="5000" class="form-control">
        </div>
        <div class="table-cell"><span>до</span></div>
        <div class="table-cell">
            <input name="priceMax" type="text" value="15000" class="form-control">
        </div>
        <div class="table-cell"><span>руб</span></div>
    </div>
<button class="btn btn-outline-secondary size1" onclick="submitForm()">Подтвердить</button>
</div>
</form>
</section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{% static 'js/list_menu.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/PriceScroll.js' %}"></script>

    </div>
{% endblock %}