{% extends "users/footer.html" %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static "css/list_menu.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
<style>
   .container1{
       padding: 60px 640px;
   }
   img {float: left;}
</style>
<div class="side_menu">

	<div class="burger_box">
		<div class="menu-icon-container">
			<a href="#" class="menu-icon js-menu_toggle closed">
				<span class="menu-icon_box">
					<span class="menu-icon_line menu-icon_line--1"></span>
					<span class="menu-icon_line menu-icon_line--2"></span>
					<span class="menu-icon_line menu-icon_line--3"></span>
				</span>
			</a>
		</div>
	</div>
	<div class="px-5">
        {% if user.is_authenticated %}
		<h2 class="menu_title">{{ user.first_name }}</h2>
        {% endif %}
		<ul class="list_load">
            {% if request.user.is_authenticated and not user.is_admin%}
			<li class="list_item"><a href="{% url 'cart'%}">My Cart</a></li>
			<li class="list_item"><a href="{% url 'edit_profile' request.user.id%}">Change Profile</a></li>
			<li class="list_item"><a href="{% url 'logout' %}">Logout</a></li>
            {% endif %}
           {% if user.is_admin%}
			<li class="list_item"><a href="{% url 'logout' %}">Logout</a></li>
            {% endif %}
			<li class="list_item"><a href="#">List Item 04</a></li>
			<li class="list_item"><a href="#">List Item 05</a></li>
			<li class="list_item"><a href="#">List Item 06</a></li>
			<li class="list_item"><a href="#">List Item 07</a></li>
			<li class="list_item"><a href="#">List Item 08</a></li>
		</ul>
		<div class="spacer_box"><p>This is a spacer box.</p></div>
	</div>
</div>
       <div class = "container1">
          {% for book in books%}

        {% if book.book_image %}

        <img src="{{ book.book_image.url }}" align="left" style="height:280px; width:210px"/>

        {% endif %}

		<h1>{{ book.book_name }}</h1>
		<h2>{{ book.book_author}}</h2>
		<p>{{ book.desc }}</p>
        <p>{{ book.genre }}</p>

		{% if request.user.is_authenticated and user.is_admin%}
		<p>
			<a href="{% url 'book_edit' book.id %}" class="btn btn-warning">Edit</a>
            <a href="{% url 'book_delete' book.id%}" class="btn btn-danger">Delete</a>
            </p>
         {% endif %}
        {% if request.user.is_authenticated and not user.is_admin%}

		<p>
			<button class="btn btn-success" value="{{ book.id }}">Add to cart</button>
            <a class="btn btn-success" href="{% url 'add_feedback' book.id%}">Add feedback</a>
            <a class="btn btn-success" href="{% url 'feedbacks' book.id%}">feedback</a>
            </p>

         {% endif %}
              <hr>
           {% endfor %}

       </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{% static 'js/list_menu.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
{% endblock %}