{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/all.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
<div class="shoppingCart">
  <h2>My Cart</h2>

  <div class="heading">
    <div class="p_name"><h4>Books's Name</h4></div>
    <div class="name"><h4>Quantity</h4></div>
    <div class="name"><h4>Unit Price</h4></div>
    <div class="name"><h4>Prize</h4></div>
  </div>

  <div class="itemContainer">
<div class="Remove">
    {% for item in items %}
        {% csrf_token %}
    <div class="item">
      <div class="iteminfo">
        <div class="p_img">
          <img src="{{item.book_product.book_image.url}}" alt="" />
        </div>
        <p>{{item.book_product.book_name}}</p>
      </div>

      <div class="name" ><p id="num_of_items">{{item.quantity}}</p></div>
      <div class="name" ><p>${{item.book_product.price}}</p></div>

    </div>
        <button class="btn btn-warning" value="{{ item.book_product.id }}">{{ item.book_product.id }}</button>
        <div class="RemoveAll">
           <button class="btn btn-warning" value="{{ item.book_product.id }}">Remove All</button>
        </div>
    {% endfor %}




  <div class="pay-section">
    <h3>Grand-Total:$ </h3>
      <h2 id="total_price" class="price"> ${{cart.total_price}}</h2>
    <button onclick = "makePayment()" >Pay</button>
  </div>
</div>
</div>
  <div class="pay-section">
  </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
   <script src="{% static 'js/script.js' %}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://checkout.flutterwave.com/v3.js"></script>
</div>

</body>
</html>