{% extends "users/FootHeader.html" %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static "css/list_menu.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="{% static 'css/Cart.css' %}">
<style>
.footer{
    margin-top:-20px;
}
.product{margin-left:600px;width:500px;}
</style>
    <div class="dummy_page">


{% for feedback in feedbacks%}
	 <article class="product">
        <div class="content">
           <h1>{{ feedback.author }}</h1>
		   <h2>{{ feedback.header}}</h2>
           <h2>{{ feedback.description}}</h2>
        </div>
      </article>
    </div>
 {% endfor %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{% static 'js/list_menu.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>

{% endblock %}